*{
    overflow: hidden;
    font-family:arial,sans-serif;
}
#title {
    border:0 none;
    background:none;
}
#title:focus{
    border:0 none;
    background:none;
    outline: none;
}
#vinh{
    display: block;
    margin: 0 auto;
    transform-origin: bottom center;
    transition: 300ms linear all;
    position: relative;
    bottom:-2rem;
}
#overview{
    display: none;
    text-align: center;
}

/* CSS wave */
html, body {
    margin: 0;
    min-height: 100%;
    background-color: #f2f2f2;
  }
  
  /* waves */
  .ocean {
    height: 520px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
  }
  
  .wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 20%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0/7;
  }
  
  .wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
  }
  
  .wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.9;
  }
  
  @keyframes wave {
      0% {transform: translateX(0);}
      50% {transform: translateX(-25%);}
      100% {transform: translateX(-50%);}
  }
/* css sky */
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	animation: skyChange 20s linear infinite;
	background: deepskyblue;
}

/* Container - Sky*/
#sky {
	width: 100vw;
	height: 100vh;
}

/* Standard syntax */
@keyframes skyChange {
	0% {
		background: deepskyblue;
	}
	25% {
		background: deepskyblue;
	}
	32% {
		background: aliceblue;
	}
	41% {
		background: deepskyblue;
	}
	70% {
		background: deepskyblue;
	}
	100% {
		background: #00d2ff; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to right,
			#3a7bd5,
			#00d2ff
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#3a7bd5,
			#00d2ff
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
}

/* Sun  */
.theSun {
	opacity: 1;
	box-shadow: 0px 0px 15px 3px yellow;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 15vh;
	left: 30vw;
	animation: sunpulse 2s alternate infinite;
	border-radius: 50%;
	background-image: radial-gradient(circle, #ffd200 95%, #f7971e);
}

@keyframes sunpulse {
	from {
		box-shadow: 0 0 100px #ff0, 0 0 100px #ff0;
	}
	to {
		box-shadow: 0 0 25px #ff0, 0 0 75px #ff0;
	}
}

/* Clouds */

.cloudwrapperOne,
.cloudwrapperTwo,
.cloudwrapperThree {
	animation: movecloudsoversky 20s linear infinite;
	animation-delay: -1s;
	z-index: 2001;
}

.cloudwrapperTwo {
	animation-delay: -1s;
}

.cloudwrapperThree {
	animation-delay: -2s;
}

.cloud {
	width: 200px;
	height: 60px;
	background: white;
	position: relative;
	border-radius: 200px;
	z-index: 2000;
}

.cloud:before,
.cloud:after {
	content: "";
	background: white;
	position: absolute;
	width: 100px;
	height: 80px;
	top: -15px;
	left: 10px;
	border-radius: 100px;
	transform: rotate(30deg);
}

.cloud:after {
	width: 120px;
	height: 120px;
	top: -55px;
	left: auto;
	right: 15px;
}

.c1 {
	margin-top: -20px;
	animation-delay: -2s;
}

.c2 {
	margin-top: 10px;
	animation-delay: -18s;
}

.c3 {
	margin-top: 5px;
	animation-delay: -7s;
}

@keyframes movecloudsoversky {
	0% {
		transform: translate(-25%, 10vh);
		opacity: 0.8;
	}
	50% {
		opacity: 0.8;
	}
	100% {
		transform: translate(125%, 10vh);
		opacity: 0.4;
	}
}

/* Sun rays */

.ray_box {
	position: absolute;
	margin: auto;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 70px;
	animation: ray_anim 120s linear infinite;
}

.ray {
	background: -webkit-linear-gradient(
		top,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	background: linear-gradient(
		top,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.8) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	margin-left: 10px;
	border-radius: 80% 80% 0 0;
	position: absolute;
	opacity: 0.1;
}

.ray1 {
	height: 170px;
	width: 30px;
	transform: rotate(180deg);
	top: -175px;
	left: 15px;
}

.ray2 {
	height: 100px;
	width: 8px;
	transform: rotate(220deg);
	top: -90px;
	left: 75px;
}

.ray3 {
	height: 170px;
	width: 50px;
	transform: rotate(250deg);
	top: -80px;
	left: 100px;
}

.ray4 {
	height: 120px;
	width: 14px;
	transform: rotate(305deg);
	top: 30px;
	left: 100px;
}

.ray5 {
	height: 140px;
	width: 30px;
	transform: rotate(-15deg);
	top: 60px;
	left: 40px;
}

.ray6 {
	height: 90px;
	width: 50px;
	transform: rotate(30deg);
	top: 60px;
	left: -40px;
}

.ray7 {
	height: 180px;
	width: 10px;
	transform: rotate(70deg);
	top: -35px;
	left: -40px;
}

.ray8 {
	height: 120px;
	width: 30px;
	transform: rotate(100deg);
	top: -45px;
	left: -90px;
}

.ray9 {
	height: 80px;
	width: 10px;
	transform: rotate(120deg);
	top: -65px;
	left: -60px;
}

.ray10 {
	height: 190px;
	width: 23px;
	transform: rotate(150deg);
	top: -185px;
	left: -60px;
}

@keyframes ray_anim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
